/* GLOBAL STYLES */
@import "_mixin.scss";

  body {
    width: 100%;
    height: 100%;
    background-color: #D9DBDD;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;;
    line-height: 1.2rem;
    padding: 0;
    margin: 0;
    @include box-sizing;
    @include responsive(phone) {
      font-size: 16px;
      line-height: 1rem;
    }
  }

  h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif, arial;
    color: #646064;
    font-weight: 300;
    margin: 0;
  }

  %h2 {
    font-weight: 200;
    font-size: 1.5rem;
    border-top: 1px solid #D9DBDD;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
  }

  %h3 {
    font-weight: 200;
    padding: 1rem 0 0.3rem 0;
    color: #484848;
  }

  %h4i {
    font-size: 0.8rem;
    padding: 0 0.5rem;
    color: #9B9B9B;
  }

  p, %p {
    font-size: 1rem;
    font-weight: 400;
    color: #828282;
    line-height: 1.5rem;
  }


/* MAIN CONTAINER */
  .main_content {
    @include box-sizing;
    width: 61rem;
    height: 38.4rem;
    margin: 6rem auto;
    background-color: #FFF;
    position: relative;
    padding-left: 18rem;
    @include responsive(phone) {
      @include box-sizing;
      width: 93%;
      height: 26rem;
      margin: 1rem auto;
      padding: 0;
      //padding: 6rem 0 00;
      position: static;
    }
  }

  /* NAV CONTAINER/MENU */
  .navigation_content {
    width: 18rem;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #2B373B;
    padding: 0;
    margin: 0;
    @include responsive(phone) {
      width: 100%;
      height: auto;
      position: static;
      //position: absolute;
      //top: 0;
    }
  }

  .profile_card {
    /*PROFILE PHOTO*/
    position: absolute;
    width: 18rem;
    height: 18rem;
    background-image: url(../img/profile-bg.jpg);
    background-repeat: no-repeat;
    border-top: 2px solid #2B373B;
    @include responsive(phone) {
      //position: absolute;
      position: static;
      width: 100%;
      height: 7rem;
      border-top: none;
    }

    %profile_circle{
      position: absolute;
      border-radius: 50%;
      top: 0; left: 0; bottom: 0; right: 0;
      margin: auto;
      vertical-align: middle;
    }

    .profile_img {
      @extend %profile_circle;
      width: 9rem;
      height: 9rem;
      background-color: rgba(43, 55, 59, 0.5);
      @include responsive(phone) {
        //display: none;
        border-radius: 50%;
        margin: 2.3rem auto;
        width: 5rem;
        height: 5rem;
        background-color: rgba(43, 55, 59, 0.5);

      }

      img {
        @extend %profile_circle;
        width: 8rem;
        height: 8rem;
        @include responsive(phone) {
          //display: none
          border-radius: 50%;
          margin: auto auto;
          width: 4rem;
          height: 4rem;
        }
      }
    }
  }

  .menu{
    /*MENÚ CONTAINER*/
    position: absolute;
    width: 100%;
    padding: 0;
    margin-top: 17rem;
    @include responsive(phone) {
      position: static;
      //
      //margin-top: 7rem;
      margin-top: 0;
      text-align: center;
      font-size: 0rem;
    }

    li{
      display: block;
      background-color: #2B373B;
      border-bottom: 1px solid #222B2E;
      list-style-type: none;
      @include responsive(phone) {
        display: inline-block;
        width: auto;
      }

      &:last-child {
        border-bottom: none;
        @include responsive(phone) {
          border-bottom: 1px solid #222B2E;
        }
      }

      a {
        @include box-sizing;
        padding: 1.5rem 1.6rem;
        display: block;
        text-align: right;
        font-size: 1.1rem;
        color: #D1D1D1;
        text-decoration: none;
        z-index: 0;
        position: relative;
        @include responsive(phone) {
          height: 3rem;
          width: 4.65rem;
          padding: 0;
          display: inline-block;
          text-align: center;
          //Ocultar el texto;
          font-size: 0rem;
          color: transparent;
          line-height: 0rem;
        }

        &:hover {
            color: #2B373B;
            //font-size: 1rem;
        }

        &::before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0; left: 0; bottom: 0; right: 0;
          background-color: #FFD42D;
          width: 0%;
          color: #2B373B;
          @include transition;
        }

        &:hover::before {
          content: '';
          width: 100%;
          @include transition;
        }

        i {
          font-size: 1.2rem;
          float: right;
          margin-left: 1.1rem;
          @include responsive(phone) {
            float: none;
            margin: .9rem auto;
            color: #FFF;
            &:hover {
              color: #2B373B;
            }
          }
        }
      }
    }
  }

  /* PRINCIPAL CONTAINER */
  .principal_content {
    @include box-sizing;
    display: block;
    height: 100%;
    padding: 1.75rem 1.875rem 0.937rem;
    overflow-y: scroll;
    @include responsive(phone) {
      padding: 1.5rem 1.875rem 0.937rem;
      overflow-y: scroll;
      height: 15.875rem;
    }
  }

  .about_me {
    /*ABOUT ME CONTAINER*/
    //position: relative;
    display: block;
    height: 100%;
    @include responsive(phone) {
      display: block;
      height: 29.5rem;
    }
    h1 {
      font-size: 2rem;
      font-style: normal;
      line-height: 2.5rem;
      @include responsive(phone) {
        font-size: 1.5rem;
        line-height: 1.5rem;
      }
      span {
        color: #000;
        font-weight: bold;
      }
    }
    h2 {
      @extend %h2;
      @include responsive(phone) {
        font-size: 1.3rem;
      }
    }
    p {
      @extend %p;
      @include responsive(phone) {
        font-size: .85rem;
        line-height: 1rem;
      }
      br {
        display: none;
      }
    }

    .personal_info{
      list-style: none;
      padding: 0;
      @include responsive(phone){
        height: auto;
      }
      .hide {
        @include responsive(phone) {
          display: none;
        }
      }
      li {
        float: left;
        list-style: none;
        margin-right: 1.15rem;
        margin-bottom: 1rem;
        height: 2.68rem;
        border: 1px solid #EDEDED;
        @include responsive(phone) {
          height: 100%;
          .mails {
            display: none;
          }
        }

        em {
          padding: 0 0.8rem;
          line-height: 2.68rem;
          font-size: 1rem;
          color: #9B9B9B;
          font-weight: 400;
          font-style: normal;
          @include responsive(phone) {
            font-size: .85rem;
          }
        }
        span {
          padding: 0.68rem 0.62rem;
          line-height: 2.68rem;
          font-size: 1rem;
          color: #484848;
          font-weight: 400;
          background-color: #F6F6F6;
          border-left: 1px solid #EDEDED;
          @include responsive(phone) {
            font-size: .85rem;
          }
        }
      }
    }
  }

  .experience {
    /*EXPERIENCE CONTAINER*/
    //position:relative;
    display: block;
    height: 100%;
    @include responsive(phone) {
      display: block;
      height: auto;
    }
    h2 {
      @extend %h2;
      @include responsive(phone) {
        font-size: 1.3rem;
      }
    }
    h3 {
      @extend %h3;
      @include responsive(phone) {
        font-size: 1.2rem;
      }
    }
    h4 i{
      @extend %h4i;
      @include responsive(phone) {
        font-size: 1.1rem;
      }
    }
    p {
      font-weight: lighter;
      text-align: left;
      @include responsive(phone) {
        font-size: .85rem;
        line-height: 1rem;
      }
    }
  }

  .education {
    /*EDUCATION CONTAINER*/
    display: block;
    height: 100%;
    @include responsive(phone) {
      display: block;
      height: auto;
    }
    h2{
      @extend %h2;
      @include responsive(phone) {
        font-size: 1.3rem;
      }
    }
    h3 {
      @extend %h3;
      @include responsive(phone) {
        font-size: 1.2rem;
      }
    }
    h4 i {
      @extend %h4i;
      @include responsive(phone) {
        font-size: 1.1rem;
      }
    }
  }

  .skill {
    /* SKILLS CONTAINER */
    display: block;
    height: 100%;
    h2{
      @extend %h2;
      @include responsive(phone) {
        font-size: 1.3rem;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      li {
        list-style: none;
        margin-bottom: 2px;
        p {
          font-size: 13px;
          color: #9a9a9a;
          margin-bottom: 1px;
        }
        .skill_bar {
          height: 20px;
          display: table;
          width: 100%;
          border: 1px solid #EDEDED;
          position: relative;
          span {
            background-color: #FFD42D;
            height: 20px;
            display: table;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }


/*SOCIAL MEDIA CONTAINER*/
.social_media {
  box-sizing: inherit;
  position: absolute;
  margin-bottom: -3.5rem;
  width: 42.125rem;
  height: 3.5rem;
  background-color: #F1F1F1;
  padding: 0rem 1.875rem;
  @include responsive(phone) {
    width: 18.59rem;
    height: 2.5rem;
    text-align: center;
    margin-bottom: 0;
  }

  p {
    display: inline-block;
    color: #000;
    font-size: 0.8rem;
    @include responsive(phone) {
      display: none;
    }
  }
  a {
    color: #9B9B9B;
    display: inline-block;
    float: right;
    margin-top: 1rem;
    margin-left: 1rem;
    @include responsive(phone) {
      font-size: 1rem;
      margin-right: 1rem;
      margin-top: .7rem;
      float: none;
    }
    &:hover {
      color: #000;
      transition: color 0.3s;
    }
  }
}

/*SEPARATOR FOR TITLES*/
.separator_light {
  height: 0.187rem;
  width: 4.375rem;
  background-color: #FFD42D;
  margin-top: 1rem;
}

.separator_bold {
  height: 0.375rem;
  width: 3.375rem;
  background-color: #FFD42D;
  margin-top: 1rem;
}
